body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.container {
  width: 100vw;
  margin: 0;
}

h1 {
  min-width: 200px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  width: 100%;
  height: 525px;
}

.header h1 {
  padding-top: 53vh;
  font-size: 7vw;
  margin-bottom: 10px;
  z-index: 1;
}

.header h2,
.header button {
  z-index: 1;
  margin: 0;
}

.header button {
  margin: 5rem 0;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 30px 5px 30px;
  font-size: 1.1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid black;
}

.nav ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding-left: 2rem;
}

.nav li a {
  font-size: 1.2rem;
  margin: 0 10px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
  color: black;
  list-style-type: none;
  text-decoration: none;
}

.nav li a:first-child {
  border-bottom: 1px solid transparent;
}

.nav li a:hover {
  border-bottom: 1px solid black;
  transition: border-bottom 0.3s ease-in-out;
}

.nav a {
  margin-left: -290px;
}

.nav .account {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.nav .account a {
  margin: 0 10px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.main {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 90%;
}

.box form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.box .right {
  width: 35%;
}

.box .left {
  text-align: left;
  margin-right: 50px;
  width: 65%;
}

.box .left img {
  width: 200px;
}

.box .left table {
  width: 100%;
}

.box .left table tr {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.box .left table tr td {
  width: max-content;
  height: 200px;
  margin: 20px 10px;
}

.box .left table tr td:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  font-weight: 400;
  font-family: sans-serif;
}

.box .left table tr td:nth-child(2) a {
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.box span {
  font-size: 20px;
}

.box form .left div:has(button) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-left: 45px;
}

.box form .left button[type="submit"] {
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 120px;
  border: solid 1px rgb(229, 229, 229);
}

.box form .left button[type="submit"]:not(.disabled-btn):hover {
  border-color: black;
}

.box form .left button[type="submit"] * {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.disabled-input {
  background-color: rgb(227, 230, 232);
}

.box .left textarea {
  border-color: rgb(229, 229, 229);
  outline: none;
  transition: border-color 0.3s ease;
  padding-left: 5px;
}

.box .left textarea::placeholder, .box .right input::placeholder {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.box .left textarea:focus::placeholder, .box .right input:focus::placeholder {
  opacity: 0;
}

.box .left input[type="radio"] {
  box-shadow: none !important;
}

.box .left input[type="radio"]:checked {
  background-color: black;
  border: none;
}

.btn-disabled {
  cursor: not-allowed !important;
}

.box form .left button.btn-disabled span {
  font-weight: normal;
  opacity: 0.7;
}

.box form .right .checkout input[type="text"] {
  border-width: 0 0 1px 0;
  border-color: rgb(204, 204, 204);
  outline: none;
  height: 40px;
  transition: border-color 0.4s ease-in-out, background-color 0.3s ease-in-out;
}

.box form .right .checkout input[type="text"]:focus, .box .left textarea:focus {
  border-color: rgb(30, 135, 240);
}


.box .right .checkout h2 {
  margin-top: 8px;
  margin-bottom: 28px;
}


.box .right .checkout div {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  color: rgb(102, 102, 102);
}

.box .right .checkout div:nth-child(2) span {
  font-family: "Josefin Sans", sans-serif;
}

.box .right .checkout div h4 {
  width: min-content;
}

.box .right .checkout button[type="submit"] {
  background-color: black;
  color: white;
  margin-top: 20px;
  padding: 10px 20px;
}

.box .right .checkout select{
  transition: border-color 0.4s ease-in-out;
}


.box .right .checkout select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: black;
}

.box form .right .checkout div input {
  border-width: 0px 0px 0px 1px;
  text-indent: 10px;
}

.box form .right .checkout button[type="submit"]:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.bottom p{
    font-family: "Arial", sans-serif;
    text-decoration: none;
}

.register {
  text-align: center;
  margin: 100px 0 100px 0;
  background-color: #fffcfc;
  padding: 100px 0;
}

.register h1 {
  font-size: 3vw;
  min-width: 300px;
}

.register p {
  font-size: 2vw;
}

.register input{
  border: none;
  border-bottom: 1px solid black;
  width: 220px;
  margin-right: 10px;
  outline: none;
}

.register button {
  margin-right: 20px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  padding: 7px 70px 1px 70px;
  border-radius: 2px;
}

.register button:hover {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.social {
  text-align: center;
  margin-bottom: 50px;
}

.social a+a {
  margin-left: 7px;
}

.social img {
  height: 32px;
}

.footer {
  text-align: center;
  display: flex;
  background-color: black;
  padding: 70px 0 50px 0;
  justify-content: center;
}

.footer div {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer div:nth-child(1) {
  margin-right: 110px;
  margin-left: 80px;
}

.footer div:nth-child(2) {
  margin-right: 80px;
}

.footer ul {
  padding: 0;
}

.footer h2 {
  color: #fff;
  font-size: 3vw;
}

.footer li {
  list-style-type: none;
  margin: 5px 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5vw;
  width: 100%;
}

.footer a:hover {
  text-decoration: underline;
  transition: text-decoration 0.3s ease-in-out;
}

.copyright {
  margin-top: 25px;
}

.copyright p {
  font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 100px;
  }
}