td.description .content.hide {
  position: relative;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.description .expand-btn {
  bottom: 0;
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/*  a{
  text-decoration: none !important;
  color: black !important;
  border: 1px solid black !important;
  padding: 5px 10px !important;
}*/


.faded{
  opacity: 0.4;
}

h1{
  text-align: center;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.pagination  li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  text-align: center;
  border: 1px solid transparent;
  margin: 5px;
  outline: none;
}

.pagination li a:hover{
  color: black;
  border: 1px solid black;
  border-radius: 50% !important;
}

.pagination li a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: black;
  text-align: center;
}

.pagination li .page-link:focus{
  box-shadow:none;
}

.pagination li.active a {
  border: 1px solid black;
  outline: none;
  background-color: transparent !important;
  color: black;
}


/* .rowTable .fade{
background: rgba(255,255,255,0.4);
} */

.search-box-first{
  font-size: 1.2rem;
  margin: 17px 0 27px 0;
  padding: 5px 20px; 
  width: 100%;
  height: 50px;
  background-color: #ececec;
  border: none;
  border-radius: 40px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box-first:hover{
  background-color:#dfdfdf;
}

.search-box-first a img{
  width: 25px;
  height: 25px;
}

.search-box-first #Search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 1.2rem;
  width: fit-content;
  height: 50px;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  outline: none;
}

.search-box-first #inputSearch{
  width: 90%;
  font-size: 1.2rem;
  padding: 5px 10px; 
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
}