html{
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.container {
    width: 100vw;
    margin: 0;
}

.container-fluid{
    display: none;
}

.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

h1{
    min-width: 200px;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    width: 100%;
    height: 525px;
}

.header h1 {
    padding-top: 53vh;
    font-size: 7vw;
    margin-bottom: 10px;
    z-index: 1;
}

.header h2,
.header button {
    z-index: 1;
    margin: 0;
}

.header button {
    margin: 5rem 0;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 30px 5px 30px;
    font-size: 1.1rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid black;
}

.nav ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-left: 2rem;
}

.nav li a {
    font-size: 1.2rem;
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
    color: black;
    list-style-type: none;
    text-decoration: none;
}

.nav .search-box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    background-color: white;
    border-radius: 20px;
    
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.nav .search-box.show {
    opacity: 1;
    visibility: visible;
    max-height: 500px;
    transition-delay: 0.07s;
}

.nav .search-box .search-box-first{
    font-size: 1.2rem;
    margin-left: 30px;
    padding: 5px 20px; 
    width: 95%;
    height: 50px;
    background-color: #ececec;
    border: none;
    border-radius: 40px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .search-box .search-box-first #SearchProduct{
    margin: 0;
}

.nav .search-box #inputSearch{
    margin-left: 10px;
    font-size: 1.2rem;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    border-radius: 40px;
    outline: none;
}

.nav .search-box  img{
    width: 20px;
    height: 20px;
}


.nav .search-box .search-box-first:hover{
    background-color:#dfdfdf;
}

.nav .search-box button{
    background-color: transparent;
    outline: none;
    border: none;
    margin-right: 30px; 
}

.nav li a:first-child {
    border-bottom: 1px solid transparent;
}

.nav li a:hover {
    border-bottom: 1px solid black;
    transition: border-bottom 0.3s ease-in-out;
}

.nav a {
    margin-left: -290px;
}

.nav .account {
    display: flex;
    align-items: center;
    padding-right: 2rem;

}

.nav .account a {
    margin: 0 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.center{
    display: flex;
    justify-content: center;
}
.content{
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .header-for-shop{
    margin-top: 70px;
    margin: 70px 0 0 20px;
    font-size: 5vw;
}
.main{
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 70px;
}

.main .search-bar{
    text-align: left;
    width: 30%;
    max-width: 300px;
    height: auto;
    margin-left: 20px;
}

.main .search-bar h4{
    text-shadow: 0 0 1px black;
    margin-bottom: 20px;
}

.main .search-bar .brand input{
    width: 100%;
    padding: 5px 7px;
    border: 0.5px solid rgba(0,0,0,0.2);
    border-radius: 3px;
}

.main .search-bar .brand ul{
    margin-top: 10px;
    width: 100%;
    padding-left:5px;
    max-height: 300px;
    overflow:auto;
}

.main .search-bar .brand ul::-webkit-scrollbar{
    width: 7px;
}
.main .search-bar .brand ul::-webkit-scrollbar-track{ /* color of background*/
    background: #f1f1f1;
}
.main .search-bar .brand ul::-webkit-scrollbar-thumb {
    background: #888;
}
.main .search-bar .brand ul::-webkit-scrollbar-thumb:hover{
    background: #555;

}

.main .search-bar .brand ul li{
    list-style-type: none;
    margin: 10px 0;
    font-size: 1.2rem;
    cursor:pointer;
}

.main .search-bar .brand ul li:hover{
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,1);
    text-decoration-thickness: 1.5px;
    transition: text-decoration 0.3s ease-in-out;
}

.main .search-bar .brand ul li a{
    text-decoration: none;
    color:#000;
}

.main .search-bar .brand ul li a.clicked{
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,1);
    text-decoration-thickness: 1.5px;
    transition: text-decoration 0.3s ease-in-out;
}

.main .gender{
    margin: 50px 0 30px 0;
}

.main .gender input + label{
    margin: 0 35px 0 5px;
}

.main .price input{
    margin: 0 10px 0 7px;
}

.main .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width:1250px;
    margin-left: 50px;
    height: min-content;
}

.main .products a{
    text-decoration: none;
    color:#000;
}

.main .products .product{
    border-radius: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    width: 15%;
    width: 250px;
    height: 350px;
    cursor: pointer;
    font-size: 1.3rem;
    margin-top: 30px;
}

.main .products .product img{
    width: 220px;
    height: 240px;
    transition: transform 2.5s ease;
}

.main .products .product img:hover{
    transform: scale(1.05);
}

.main .products .product .product-brand{
    color: #6f3620;
}

.main .products .product .product-name{
    margin: 10px 0 5px 0;
}

.main .products .product .product-price > span{
    text-decoration: underline;
    text-decoration-thickness: from-font;
}

.main .products .top{
    width: 100%;
    height: 50px;
    text-align: right;
}

.main .products .sorting{
    margin-right: 30px;
    padding: 10px;
}

.content .pagination{
    margin-top: 70px;
}

.content .pagination  li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    text-align: center;
    border: 1px solid transparent;
    margin: 5px;
    outline: none;
}

.content .pagination li:hover{
    border: 1px solid black;
}

.content .pagination li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: black;
    text-align: center;
}

.content .pagination li .page-link:focus{
    box-shadow:none;
}

.content .pagination li.active {
    border: 1px solid black;
    outline: none;
    background-color: transparent;
}


.register{
    text-align: center;
    margin: 100px 0 100px 0;
    background-color: #fffcfc;
    padding: 100px 0;
}

.register h1{
    font-size: 3vw;
    min-width: 300px;
}

.register p{
    font-size: 2vw;
}

.register input{
    border: none;
    border-bottom: 1px solid black;
    width: 220px;
    margin-right: 10px;
    outline: none;
  }

.register button{
    margin-right: 20px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    padding: 7px 70px 1px 70px;
    border-radius: 2px;
}
.register button:hover{
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}

.social{
    text-align: center;
    margin-bottom: 50px;
}

.social a + a{
    margin-left: 7px;
}

.social img{
    height: 32px;
}

.footer{
    text-align: center;
    display: flex;
    background-color: black;
    padding: 70px 0 50px 0;
    justify-content: center;
}

.footer div{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer div:nth-child(1){
    margin-right: 110px;
    margin-left: 80px;
}

.footer div:nth-child(2){
    margin-right: 80px;
}

.footer ul{
    padding: 0;

}

.footer h2{
    color: #fff;
    font-size: 3vw;

}

.footer li{
    list-style-type: none;
    margin: 5px 0;
}

.footer a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5vw;
    width: 100%;
}

.footer a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    transition: text-decoration 0.3s ease-in-out;
}

.copyright{
    margin-top: 25px;
}

.copyright p{
    font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
    h1{
        font-size: 100px;
    }
}