<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ImportProduct</servlet-name>
        <servlet-class>ImportProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shop</servlet-name>
        <servlet-class>Servlets.shop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>Controllers.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientController</servlet-name>
        <servlet-class>Controllers.ClientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogController</servlet-name>
        <servlet-class>Controllers.LogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controllers.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImportProduct</servlet-name>
        <url-pattern>/ImportProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <!--Filter defintion-->
    <filter>
        <filter-name>UserValidation</filter-name>
        <filter-class>Filters.UserValidation</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserValidation</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--Controller defintion-->
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceController</servlet-name>
        <servlet-class>Controllers.ResourceController</servlet-class>
    </servlet>
    <!--Controller mapping-->
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceController</servlet-name>
        <url-pattern>/RESOURCES/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/Product/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientController</servlet-name>
        <url-pattern>/Client/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogController</servlet-name>
        <url-pattern>/Log/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin/*</url-pattern>
    </servlet-mapping>
    <!--Error pages mapping-->
    <error-page>
        <error-code>404</error-code>
        <location>/ERROR_PAGE/404Page.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/ERROR_PAGE/403Page.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
