body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

form{
    width: 700px;
}

form > div{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

form input{
    padding: 5px 0;
}

form fieldset {
    border: 1px solid black;
    padding: 10px;
    display: flex;
}

form fieldset legend {
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 5px;
    float: none;
    width:70px;
}

form fieldset  label{
    margin-right: 20px;
}

form fieldset  input{
    margin-right: 10px;
}

form .btnAddProduct{
  margin-top: 15px;
  padding: 5px 20px 3px 20px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1.3rem;
}

form button:hover {
  border: 1px solid black;
}

input[type="file"] {
    display: none;
}

.image img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}